/* © 2025 Romar Jabez */

/* main */

.button {
    border: none;
    outline: none;
    padding: 5px 10px;
    border-radius: 18px;
    display: flex;
    align-items: center;
    gap: 3px;
    justify-content: center;
}

.button:hover {
    filter: brightness(0.9);
}

.button.main {
    background-color: #245a80;
    color: #e4e4e4;
}

.button.danger {
    background-color: #af423e;
    color: #ffffff;
}

.button.secondary {
    background-color: #8d8d8d;
    color: white;
}

.button.auth-submit {
    background-color: #245a80;
    color: white;
    width: 100%;
    padding: 13px 15px;
}

.button.icon.modal-close {
    border-radius: 50%;
    background-color: #d1d0d0;
    color: #4e4e4e;
    font-size: 20px;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* icon */

.button.icon {
    background-color: #245a80;
    color: #e4e4e4;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
}