/* © 2025 Romar Jabez */

.input-field-option {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.input-field {
    border: 2px solid #afafaf;
    border-radius: 10px;
    outline: none;
    padding: 10px 15px;
    transition: all 0.2s ease-in-out;
    width: 100%;
}

.input-field:focus {
    border-color: #5a85a4;
    box-shadow: 0 0 5px 1px rgba(90, 133, 164, 0.8);
}
