/* © 2025 Romar Jabez */

/* © 2025 Romar Jabez */

.table-container {
    border: 1px solid #505050;
    border-radius: 10px;
    overflow: hidden;
}

.table-container table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
}

.table-container table thead tr th {
    padding: 5px 10px;
}

.table-container table tbody tr td {
    padding: 15px 10px;
}

.table-container table thead tr th.table-col {
    background-color: #205173;
    color: #f1f1f1;
}

.table-container table tbody tr:nth-child(even) {
    background-color: #d8d7d7;
}
.table-container table tbody tr:nth-child(odd) {
    background-color: #f1f1f1;
}