/* 2025 Romar Jabez */

.menu {
    padding: 20px 20px 0 20px;
    height: 130vh;
    box-sizing: border-box;
}

.menu-container {
    display: flex;
    flex-direction: column;
    background-color: #9fb8d5;
    gap: 8px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    color: #0c1d29;
    box-shadow: 0px 0px 6px 0px #000000;
    width: 300px;
    height: 100%;
    padding: 20px;
}

.menu-item {
    display: flex;
    gap: 5px;
    padding: 10px;
}

.menu-item:hover {
    background-color: #7694b6;
    border-radius: 10px;
}

.menu-item.selected {
    background-color: #8097b1;
    border-radius: 10px;
}